	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	.text
	{
		font-family: sans-serif;
	}
	body
	{
		line-height: 1.5;
		color: #2f3e2f;

		margin: 10px;
	 }

	header 
		{
			background: #6b8e23;
			color: white;
			padding: 1rem;
			display: flex;
			flex-direction: column;

		}
	nav
		{
			margin-top: 10px;
		}
	nav a
	{
		margin-right: 10px;
		color: white;
		padding: 15px;
		text-decoration: none;
	}
	.hero
		{
			padding: 2rem;
			background: url(bg.png);
			background-size: cover;
		}

	.hero h1 
		{
			font-size: 2rem;
		}

	.container 
		{
			padding: 1rem;
			display: grid;
			grid-template-columns: 1fr;
			gap: 1rem;
			background: white;
		}

    .card 
		{
			background: white;
			padding: 1rem;
			border-radius: 10px;
			box-shadow: 0 2px 5px rgba(0,0,0,1.1);
		}

    .gallery {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;

    }

    .gallery img {
      width: 100%;
      border-radius: 10px;
    }
	/*Tablet*/
	@media (min-width: 600px) {
		.container 
		{
			grid-template-columns: 1fr 1fr;
		}

		.gallery 
		{
			grid-template-columns: 1fr 1fr;
		}
	}

	/* Desktop */
	@media (min-width: 900px) {
		header 
		{
			flex-direction: row;
			justify-content: space-between;
		}

		.container 
		{
			grid-template-columns: repeat(3, 1fr);
		}

		.gallery 
		{
			grid-template-columns: repeat(3, 1fr);
		}
}
